[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# User-specific
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.suo
*.userprefs

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
